In [1]:
#This notebook was made to explore Twitter data and compare current tweets 
#filtered for #police to keywords found in the 846 Police Brutality data

In [2]:
!python -m spacy download en_core_web_sm

Requirement already satisfied: en_core_web_sm==2.2.5 from https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#egg=en_core_web_sm==2.2.5 in /usr/local/lib/python3.6/dist-packages (2.2.5)
Requirement already satisfied: spacy>=2.2.2 in /usr/local/lib/python3.6/dist-packages (from en_core_web_sm==2.2.5) (2.2.4)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (50.3.2)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.2)
Requirement already satisfied: numpy>=1.15.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.18.5)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.4.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.1.3)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (4.41.1)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (1.0.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.0.4)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (2.23.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.2)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy>=2.2.2->en_core_web_sm==2.2.5) (0.8.0)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_sm==2.2.5) (1.24.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_sm==2.2.5) (3.4.0)
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_sm')

In [3]:
# required imports

from bs4 import BeautifulSoup
import json
import matplotlib.pyplot as plt
import pandas as pd
import re
import requests
import spacy
from spacy.tokenizer import Tokenizer
import urllib3

##Load and Tokenize 846 data

In [4]:
url="https://api.846policebrutality.com/api/incidents?include=evidence"
http = urllib3.PoolManager()
response = http.request('GET', url)
soup = BeautifulSoup(response.data, "html.parser")

json_846 = json.loads(soup.text)

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [5]:
#Retrieve data from json_846 data key
incidents = json_846['data']

In [6]:
# Create dataframe from the 846 API incident data
df_846 = pd.DataFrame(incidents)

# Change data type for 'date' column to datetime type
df_846['date'] = pd.to_datetime(df_846['date'], infer_datetime_format=True)

# Drop empty columns, description is also empty but needed for current format
# Evidence also isn't needed, as well as id (pub_id needs to be renamed to id)
df_846 = df_846.drop(columns=['data', 'evidence', 'id'])

# Check the top 5 rows of the new dataframe
df_846.head()

             pb_id  ...                                      geocoding
0  or-portland-409  ...  {'lat': '45.5051064', 'long': '-122.6750261'}
1  or-portland-404  ...  {'lat': '45.5051064', 'long': '-122.6750261'}
2  or-portland-405  ...  {'lat': '45.5051064', 'long': '-122.6750261'}
3  or-portland-406  ...  {'lat': '45.5051064', 'long': '-122.6750261'}
4  or-portland-407  ...  {'lat': '45.5051064', 'long': '-122.6750261'}

[5 rows x 9 columns]

##Use Spacy to tokenize 846 data

In [7]:
#instantiate nlp model
nlp = spacy.load("en_core_web_sm")

#Instantiaiting tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [8]:
#lemmatisation function

def tokenize(doc):
    """ Function tokenzing data and returning a list"""
    lemmas = []
    doc = nlp(doc)
    for token in doc: 
        if ((token.is_stop == False) and (token.is_punct == False)) and (token.pos_ != 'PRON'):
            lemmas.append(token.lemma_)
    return lemmas

In [9]:
#need to concatenate tags and title, converting tag to list first

def listToString(s):
  str1 = ""
  for elem in s:
    str1 += elem
    return str1

In [10]:
df_846['tags'] = df_846['tags'].apply(listToString)

In [11]:
df_846['concat'] = df_846['title'] + " " + df_846['tags']

In [12]:
#tokenize column containing both tags and title

df_846['tokens'] = df_846['concat'].apply(tokenize)

In [13]:
#tokens from posts containing examples of police use of force
#Because 846 contains instances of police use of force, these 
#tokens can be used to find similar posts on Twitter or other
#social media

print(df_846.shape)
df_846['tokens'].head(10)

(1261, 11)

0    [DHS, agent, arrest, tear, gas, protester, thr...
1      [officer, charge, protester, press, journalist]
2    [officer, shove, strike, arrest, protester, ar...
3                   [officer, violent, arrest, arrest]
4                  [Protester, tackle, arrest, arrest]
5    [Member, Vice, film, crew, harass, assault, ba...
6            [officer, shoot, protester, head, lethal]
7                 [Police, arrest, journalist, arrest]
8          [Police, charge, arrest, protester, arrest]
9    [Police, assault, hospitalize, protester, arrest]
Name: tokens, dtype: object

In [14]:
# Vector Representation
# Feature extraction

from sklearn.feature_extraction.text import TfidfVectorizer

tdf = TfidfVectorizer(ngram_range=(1,2),
                    max_df=.97,
                     min_df=3,
                    tokenizer=tokenize)
# Fit and Transforming text
vect = tdf.fit_transform(df_846['concat'])
# Making a dataframe of feature names
vect = pd.DataFrame(vect.todense(), columns=tdf.get_feature_names())

vect.head()

   abuse  abuse power  active  activist  ...  woman ground  woman shoot  wound  yell
0    0.0          0.0     0.0       0.0  ...           0.0          0.0    0.0   0.0
1    0.0          0.0     0.0       0.0  ...           0.0          0.0    0.0   0.0
2    0.0          0.0     0.0       0.0  ...           0.0          0.0    0.0   0.0
3    0.0          0.0     0.0       0.0  ...           0.0          0.0    0.0   0.0
4    0.0          0.0     0.0       0.0  ...           0.0          0.0    0.0   0.0

[5 rows x 722 columns]

##Twitter EDA

Including tweets is challenging because we need to sift through a lot of data to find relevant posts. These tweets were scraped using 'police' as a filter, and the filter could be more customized. 

We need to compare tweet data with the 846 data and remove duplicates. One way to do this is by comparing links, however not every tweet includes a link. Another idea is to compare geo location but not every tweet includes a cooordinates, and more than one event can take place at the same coordinates.

In [15]:
#freshly scraped tweets

tweet_df = pd.read_csv('tweets.csv')

In [16]:
tweet_df.shape

(1572, 12)

In [17]:
tweet_df.head()

   id  ... language
0   1  ...       en
1   2  ...       en
2   3  ...       en
3   4  ...       en
4   5  ...       en

[5 rows x 12 columns]

In [18]:
#filter out non-english posts. This can also be done 
# by adjusting the twitter scraper

tweet_df = tweet_df[tweet_df['language'] == 'en']

In [22]:
tweet_df.head()

   id  ... language
0   1  ...       en
1   2  ...       en
2   3  ...       en
3   4  ...       en
4   5  ...       en

[5 rows x 12 columns]

In [23]:
#tokenize tweets, may be used to find similar headlines

tweet_df['tokens'] = tweet_df['text'].apply(tokenize)

In [24]:
tweet_df['tokens'].head()

0    [police, Chief, back, cost, opposition, Lawmak...
1                              [ABSOLUTELY, maddening]
2    [@nitraqueen, @brianpallister, economic, suici...
3    [@oscotthartman, @allymayn, Walter, Cronkite, ...
4    [shame, th, government, involve, violent, peop...
Name: tokens, dtype: object

In [25]:
tweet_df.head()

   id  ...                                             tokens
0   1  ...  [police, Chief, back, cost, opposition, Lawmak...
1   2  ...                            [ABSOLUTELY, maddening]
2   3  ...  [@nitraqueen, @brianpallister, economic, suici...
3   4  ...  [@oscotthartman, @allymayn, Walter, Cronkite, ...
4   5  ...  [shame, th, government, involve, violent, peop...

[5 rows x 13 columns]

##Drop duplicate links

We are using the 846 column to check for duplicates in the twitter dataframe

In [26]:
#pull out new df with links only from 846 to compare with Twitter

df_src = df_846['links']

In [27]:
df_src.head()

0    [https://twitter.com/AdamnCostelloTV/status/13...
1    [https://twitter.com/Cascadianphotog/status/13...
2    [https://twitter.com/ByMikeBaker/status/132420...
3    [https://twitter.com/TheRealCoryElia/status/13...
4    [https://mobile.twitter.com/jovannithe1st/stat...
Name: links, dtype: object

In [28]:
df_src = df_src.explode('src').drop_duplicates()

In [29]:
df_src.shape

(3428,)

In [30]:
df_src.head()

0    https://twitter.com/AdamnCostelloTV/status/132...
1    https://twitter.com/BoopTroopEugene/status/132...
2    https://twitter.com/PDocumentarians/status/132...
3    https://twitter.com/Cascadianphotog/status/132...
4    https://twitter.com/ByMikeBaker/status/1324187...
Name: links, dtype: object

In [31]:
#add list as column
tweet_df['src846'] = df_src

In [91]:
link_drop_df = tweet_df.drop(columns=['user_description','user_location',
                                      'coordinates','text', 'geo', 'user_name',
                                      'user_created', 'language', 'tokens',
                                      'created', 'id_str'])

In [92]:
link_drop_df = link_drop_df.drop_duplicates(['source', 'src846'], keep=False)

In [93]:
link_drop_df = link_drop_df.drop(columns='src846')

In [97]:
df = pd.merge(tweet_df, link_drop_df, how='inner')

In [100]:
df = df.drop(columns='src846')

In [101]:
df.head()

   id  ...                                             tokens
0   1  ...  [police, Chief, back, cost, opposition, Lawmak...
1   2  ...                            [ABSOLUTELY, maddening]
2   3  ...  [@nitraqueen, @brianpallister, economic, suici...
3   4  ...  [@oscotthartman, @allymayn, Walter, Cronkite, ...
4   5  ...  [shame, th, government, involve, violent, peop...

[5 rows x 13 columns]

In [105]:
#geo and coordinates are very similar and contain a lot of nans
#could possibly filter for posts with both geo or coordinates,
#and also a link before using a classification model to determine
#use of force. 

print(df['geo'].value_counts().sum())
print(df['coordinates'].value_counts().sum())

11
11

In [110]:
df_geo = df[df['geo'].notna()]

In [130]:
df_geo.head()

      id  ...                                             tokens
171  203  ...  [SUSPICIOUS, PRIORITY, NE, BROADWAY, NE, 14th,...
426  516  ...  [SUSPICIOUS, SUBJ, VEH, CIRCUMSTANCE, 700, SW,...
428  519  ...  [SHOTS, FIRED, 1300, NE, BARNES, CT, grsm, Gre...
429  521  ...  [ACCIDENT, HIT, run, cold, 5300, N, LOMBARD, S...
710  863  ...  [threat, cold, 400, SE, 44th, AVE, port, Portl...

[5 rows x 13 columns]