*   [Original Dataset](https://github.com/Black-Phoenix/4x4-Sudoku-Dataset)

In [14]:
import pandas as pd
from google.colab import files

puzzles = pd.read_csv('https://raw.githubusercontent.com/Black-Phoenix/4x4-Sudoku-Dataset/master/4x4_sudoku_unique_puzzles.csv')

puzzles = puzzles.sample(n=5000)

In [15]:
puzzles.tail()

                  Puzzle          Solution
793673  4130020110240010  4132324113242413
414606  1000002020434310  1234342121434312
462126  4030002430420003  4231132431422413
380605  4010130201200001  4213134231242431
896881   140430114300004  2143432114323214

In [16]:
puzzles['Puzzle'].iloc[0].dtype

dtype('int64')

In [17]:
def format_puzzle(puzzle):
  puzzle_string = str(puzzle)
  padded_puzzle_string = puzzle_string.zfill(16)
  formatted_puzzle_string = padded_puzzle_string.replace('0', '.')
  return formatted_puzzle_string

In [18]:
puzzles['Puzzle'] = [format_puzzle(i) for i in puzzles['Puzzle']]

In [19]:
puzzles.tail()

                  Puzzle          Solution
793673  413..2.11.24..1.  4132324113242413
414606  1.....2.2.43431.  1234342121434312
462126  4.3...243.42...3  4231132431422413
380605  4.1.13.2.12....1  4213134231242431
896881  .14.43.1143....4  2143432114323214

In [20]:
puzzles['Solution'] = [str(solution) for solution in puzzles['Solution']]

In [21]:
# making a 'level', 'gridLength', 'row', and 'col' column
puzzles['level'] = 'Easy'
puzzles['gridLength'] = 4
puzzles['row'] = 2
puzzles['col'] = 2
puzzles.head()

                  Puzzle          Solution level  gridLength  row  col
842129  3...41.21.23..14  3241413214232314  Easy           4    2    2
758532  .213..422.3..4.1  4213134221343421  Easy           4    2    2
81349   .1....134..1.32.  3142241342311324  Easy           4    2    2
958267  .2.41.....21....  3214143243212143  Easy           4    2    2
433155  ....13...2.33124  2431134242133124  Easy           4    2    2

In [22]:
# rename 'puzzle' to 'sudoku' and making 'Solution' lowercase
puzzles.rename(columns = {'Puzzle': 'sudoku'}, inplace = True)
puzzles.rename(columns = {'Solution': 'solution'}, inplace = True)
puzzles.head()

                  sudoku          solution level  gridLength  row  col
842129  3...41.21.23..14  3241413214232314  Easy           4    2    2
758532  .213..422.3..4.1  4213134221343421  Easy           4    2    2
81349   .1....134..1.32.  3142241342311324  Easy           4    2    2
958267  .2.41.....21....  3214143243212143  Easy           4    2    2
433155  ....13...2.33124  2431134242133124  Easy           4    2    2

In [23]:
puzzles.to_csv('4x4_puzzles.csv')

In [24]:
files.download('4x4_puzzles.csv')