In [17]:
import pandas as pd
from google.colab import files

In [18]:
# upload the 9x9 data
uploaded = files.upload()

Saving dataset_test.csv to dataset_test (1).csv

In [19]:
# loading and looking at the data
df = pd.read_csv("dataset_test.csv")
print(df.shape)
df.head()

(5030, 7)

   Unnamed: 0  Id  ... People Average-Time
0           0   0  ...    254           25
1           1   1  ...    281           12
2           2   2  ...    265           22
3           3   3  ...    279           19
4           4   4  ...    301           14

[5 rows x 7 columns]

In [20]:
# cleaning dataset
clean_df = df.copy()
clean_df.head()

   Unnamed: 0  Id  ... People Average-Time
0           0   0  ...    254           25
1           1   1  ...    281           12
2           2   2  ...    265           22
3           3   3  ...    279           19
4           4   4  ...    301           14

[5 rows x 7 columns]

In [21]:
# drop 'unnamed: 0', 'Id', 'People', and 'Average-Time'
clean_df = clean_df.drop(columns=['Unnamed: 0', 'Id', 'People', 'Average-Time'])
clean_df.head()

                                              Sudoku  ...       Level
0  8...74...1.........7.5.9.4....65.4..73.....296...  ...  Diabolical
1  .5.....7.9......6...21.75.8.4..69.3...8...4......  ...    Moderate
2  ...45.2..3.........8....4..7...94.3.9..5.2.76....  ...  Diabolical
3  9......31.3...8.....5.7.9..3...4...8.916..54.4...  ...       Tough
4  9.......2784.1.5.....4.....2.53.1.7...7...8......  ...    Moderate

[5 rows x 3 columns]

In [22]:
# making a 'gridLength', 'row', and 'col' column
clean_df['gridLength'] = 9
clean_df['row'] = 3
clean_df['col'] = 3
clean_df.head()

                                              Sudoku  ... col
0  8...74...1.........7.5.9.4....65.4..73.....296...  ...   3
1  .5.....7.9......6...21.75.8.4..69.3...8...4......  ...   3
2  ...45.2..3.........8....4..7...94.3.9..5.2.76....  ...   3
3  9......31.3...8.....5.7.9..3...4...8.916..54.4...  ...   3
4  9.......2784.1.5.....4.....2.53.1.7...7...8......  ...   3

[5 rows x 6 columns]

In [23]:
# making 'Sudoku', 'Solution', and 'Level' lowercase
clean_df.rename(columns = {'Sudoku': 'sudoku', 'Solution': 'solution', 'Level': 'level'}, inplace = True)
clean_df.head()

                                              sudoku  ... col
0  8...74...1.........7.5.9.4....65.4..73.....296...  ...   3
1  .5.....7.9......6...21.75.8.4..69.3...8...4......  ...   3
2  ...45.2..3.........8....4..7...94.3.9..5.2.76....  ...   3
3  9......31.3...8.....5.7.9..3...4...8.916..54.4...  ...   3
4  9.......2784.1.5.....4.....2.53.1.7...7...8......  ...   3

[5 rows x 6 columns]

In [24]:
# changing Gentle > Easy, Moderate > Medium, and Tough & Diabolical > Hard
clean_df['level'] = clean_df['level'].replace({'Gentle': 'Easy', 'Moderate': 'Medium', 'Tough': 'Hard', 'Diabolical': 'Hard'})
clean_df.head(10)

                                              sudoku  ... col
0  8...74...1.........7.5.9.4....65.4..73.....296...  ...   3
1  .5.....7.9......6...21.75.8.4..69.3...8...4......  ...   3
2  ...45.2..3.........8....4..7...94.3.9..5.2.76....  ...   3
3  9......31.3...8.....5.7.9..3...4...8.916..54.4...  ...   3
4  9.......2784.1.5.....4.....2.53.1.7...7...8......  ...   3
5  ...251...5...6...79.4.....2..519.7...9.....4.....  ...   3
6  ..9...3.21..94.6..45..3....6......37....5....5...  ...   3
7  ..1.4.....8.....129...7...83.5.....4..6..72..4...  ...   3
8  ...7....8..2.8.65.5.8.1.7.4.7...8.6..............  ...   3
9  5..73.....78.......2.5...9.1.......875..9..242...  ...   3

[10 rows x 6 columns]

In [25]:
# download the clean csv
clean_df.to_csv('9x9_puzzles.csv')

In [26]:
files.download('9x9_puzzles.csv')