In [4]:
import pandas as pd

df = pd.read_csv("Compiled_Police_Reports.csv", usecols = [1,5])
df['fatal'] = 'no'
df1 = pd.read_csv('cleaned_and_ordered_fatalities_data.csv', usecols =[1,5])
df1['fatal'] = 'yes'
df1.head()

         date state fatal
0  2015-01-02    WA   yes
1  2015-01-02    OR   yes
2  2015-01-03    KS   yes
3  2015-01-04    CA   yes
4  2015-01-04    CO   yes

In [8]:
DF = df.append(df1)
DF.head()

DF.isnull().value_counts()

DF = DF[DF['date'].isnull()==False]

DF.shape

(98826, 3)

import plotly.express as px

RDF = DF.groupby(['state'])['fatal'].value_counts(normalize=True)


print(RDF)